Walter Losa <walter.losa@student.supsi.ch> Losa Walter Sostene <walter.losa@student.supsi.ch>
Walter Losa <walter.losa@student.supsi.ch> Sostene <jetw.ncc@gmail.com>:
Matteo Arna <matteo.arna@student.supsi.ch> MatteoArna <matteo.arena711@gmail.com>
Tommaso Agnola <tommaso.agnola@supsi.ch> Agnola Tommaso <tommaso.agnola@supsi.ch>
